body
{	
	background-color : #99ffff;
}

h1,body
{
	text-align: center;
}

div
{
	text-align: center;
	background-color: white;
}
.commentBox
{
	background-color: silver;
	width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 25px;
	border-radius: 2em;
}
.comment
{
	background-color:#D8D8D8;
	color:#0000cc;
    box-shadow: 10px 10px 5px;
    padding: 5px;
    border: 2px solid black;
    margin: 15px;
	border-radius: 1em;
}

.commentList
{
	background-color:#99ffff;
	color:#cc3333;
	width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 25px;
	border-radius: 2em;
}

.commentForm
{
	background-color:#99ffff;
	color:#cc3333;
	width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 25px;
	border-radius: 2em;
}